.card{
    width: 250px;
    height: auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 15px 20px #0000007a;
}

.card img{
    width: 210px;
    height: auto;
}

