.menu {
    display: flex;
    width: 100%;
    position:relative;
    align-items: center;
    justify-content: center;
    height: 110px;
    gap: 30px;
    flex-wrap: wrap;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 4px 2px #0000007c;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.s1{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 500px;
}

.s1 img{
    border-radius: 999px;
    height:300px;
    box-shadow: 0px 0px 20px 3px  rgb(61, 61, 61);
}

.left{
    border-radius: 100%;
}

.s2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 250px 80px -100px inset black;
    background-color: rgb(137, 137, 137);
}

.braco{
    position: absolute;
    rotate: 290deg;
    width: 100px;
    height: auto;
    margin-top: -450px;
}

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: fromDown 5s ease-in-out;
}

.puxada{
    animation: fromUp 5s ease-in-out;
    opacity: 0;
}

@keyframes fromUp{
    0%{
        transform: translateY(0vh);
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translateY(100vh);
    }
    100%{
        opacity: 0;
        transform: translateY(0vh);
    }
}

    @keyframes fromDown{
        0%{
            transform: translateY();
        }
        50%{

        }
        100%{
            
        }
    }

.s3{
    height: 100vh;

}

.s4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapcards4{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1px;
}

.cardS4{
    width: 304px;
    height: 85vh;
    background-color: rgba(122, 239, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 75px;
    filter: grayscale(1);
    transition: all 400ms ease-in-out;
    overflow: hidden;

}

.cardS4:hover{
    cursor: pointer;
    width: 600px;
    filter: grayscale(0.5);
}

.cardIMG{
    display: flex;
    justify-content: center;
    align-items: center;        
    width: 100%;
    height: 700px ;
    overflow: hidden;
    border-radius: 2px;
    filter: brightness(0.8);
    transition: all 700ms ease-in-out;
    position: relative;
}

.cardS4 h2{
    position: absolute;
    transition: opacity 1800ms ease-in-out, transform 700ms ease-in-out;
    color: white;
    opacity: 0;
    text-shadow: 2px 2px 2px black;
    margin: 20px;
    font-size: 30px;
    transform: translateY(810px);

}

.cardS4:hover h2{
    pointer-events: none;
    opacity: 1;
    transform: translateY(0);
}

.cardIMG:hover{
    filter: brightness(0.3);
}

.cardIMG img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.s5{
    height: 100vh;
    
}

.s6{
    height: 100vh;
    
}