.menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 110px;
    gap: 85px;
    flex-wrap: wrap;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 4px 2px #0000007c;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.menu a:hover{
    color:tomato;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.menu:hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cardIMG:hover{
    transform: scale(1.03);
    transition: transform 0.7s ease;
    cursor: pointer;
    box-shadow: 0px 0px 15px 4px rgb(0, 183, 255);
}

.cardIMG{
    width: 900px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgb(61, 61, 61);
    flex-wrap: wrap;
    overflow: hidden;
}

.p{
    flex-wrap: wrap;
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-family: Garamond, serif;
    font-size: 30px;
    border-radius: 23px;
    border: 1px solid black;
    box-shadow: 0px 3px  6px black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    
}

.p:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 3px rgba(217, 255, 0, 0.555);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.h1{
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    flex-wrap: wrap;
    color: white;
    text-shadow: 6px 5px 4px #000000;
}

.sessao{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 20px;
    margin-top: 100px;
    flex-wrap: wrap;
    
}



@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: auto;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        flex-wrap: wrap;
    }

    .sessao h1 {
        font-size: 40px;
        margin-bottom: 300px;
        flex-wrap: wrap;
    }

    .sessao img {
        height: 200px;
        flex-wrap: wrap;
    }
}